entrypoint = "main.py"
modules = ["python-3.11:v16-20231229-5b1e996"]

[nix]
channel = "unstable"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
